main{
    background: #FFFAE6;
}
main, header, footer,body{
    margin: 0px;
}
header{
    padding-bottom: 10px;
    border-bottom: 1px red solid;
}
.shapka a{
    color: black; 
    text-decoration: none; 
    border-bottom: 4px red solid; 
    font-size: 30px;
}
.shapka{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#glbut img{
    width: 30px; 
    height: 30px;
    margin-top: 4%;
}
#glbut{
    font-size: 17px;
    display: flex;
    justify-content: space-around;
    gap: 5px;
    background: #FFCC00;  
    border: 0px; 
    border-radius: 7px;
    flex-direction: row;
}
h1{
    text-align: center;
    font-size: 250%;
    margin-top: 0%;
}
main p{
    font-size: 250%;
}
main img{
    width: 300px; 
    height: 600px;
    margin-right: 10%;
}
.true:active{
    border: 15px green solid;
}
.false:active{
    border: 15px red solid;
}
