main{
    background: #FFFAE6;
}
main, header, footer,body{
    margin: 0px;
}
header{
    padding-bottom: 10px;
    border-bottom: 1px red solid;
}
.shapka a{
    color: black; 
    text-decoration: none; 
    border-bottom: 4px red solid; 
    font-size: 30px;
}
.shapka{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#glbut img{
    width: 30px; 
    height: 30px;
    margin-top: 4%;
}
#glbut{
    font-size: 17px;
    display: flex;
    justify-content: space-around;
    gap: 5px;
    background: #FFCC00;  
    border: 0px; 
    border-radius: 7px;
    flex-direction: row;
}
.slysba{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cly{
    display: inline-block;
    flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
}
.nomer{
    color: red;
    text-align: center;
    font-size: 1200%;
    margin-bottom: 0px;
    margin-top: 0px;
}

.name{
    font-size: 270%;
    text-align: center;
}