main{
    background: #FFFAE6;
}
main, header, footer,body{
    margin: 0px;
}
header{
    padding-bottom: 10px;
    border-bottom: 1px red solid;
}
.shapka a{
    color: black; 
    text-decoration: none; 
    border-bottom: 4px red solid; 
    font-size: 30px;
}
.shapka{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#glbut img{
    width: 30px; 
    height: 30px;
    margin-top: 4%;
}
#glbut{
    font-size: 17px;
    display: flex;
    justify-content: space-around;
    gap: 5px;
    background: #FFCC00;  
    border: 0px; 
    border-radius: 7px;
    flex-direction: row;
}
.kak{
    background-color: #FFFAE6;
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
}
.test{
    text-align: center;
    background-color: #FFFAE6;
    font-size: 60px;
    padding: 1%;
    margin-top: 10%;
    color: black;
    text-decoration: none; 
    border: 4px red solid; 
    border-radius: 3%;
    margin-left: 41%;
    margin-top: 4%;
}
video{
    height: 15%;
    width: 15%;
    margin-left: 42%;
    display: block;
}
.test2{
    background-color: #FFFAE6;
    margin-bottom: 3%;
}